.container {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.products {
  height: 300px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgba(200, 200, 200, 0.7);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.products > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}
.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.pagination > span {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border: 1px solid black;
  background-color: lightslategray;
}
.pagination_selected {
  background: rgb(238, 209, 209) !important;
}
.page_disable {
  opacity: 0;
}
@media only screen and (max-width: 600px) {
  .products {
    width: 100%;
    margin-block-end: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  .pagination > span {
    padding: 5px 10px 5px 10px;
  }
}
